<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :game_location %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start, id: :game_start, ampm: true %>
  </div>

  <div class="field">
    <%= form.label :stop %>
    <%= form.datetime_select :stop, id: :game_stop, ampm: true %>
  </div>


  <div class="field">
    <%= form.label :sport %>
    <%= form.select(:sport,options_for_select([['select one', nil],['SOCCER','SOCCER'],
    ['BASKETBALL','BASKETBALL'],['FOOTBALL','FOOTBALL'],['KICKBALL','KICKBALL'],
    ['FRISBEE','FRISBEE'],['VOLLEYBALL','VOLLEYBALL'],
    ['BASEBALL/SOFTBALL','BASEBALL/SOFTBALL'],['BICKING','BICKING'],['YOGA','YOGA'],['OTHER','OTHER']])) %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :game_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
