<%= render 'map' %>
<!-- <%= link_to image_tag("rails1.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %> -->
<p id="notice"><%= notice %></p>

<h1>Games</h1>
<%= hidden_field_tag 'games_lat_and_lng', @games.map {|g| {:lat => g.latitude, :lng => g.longitude, :description => g.description}}.to_json %>
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Start</th>
      <th>Stop</th>
      <th>Sport</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!-- will display game info along with corresoponding image -->
    <% @display_games.each do |game, icon_url| %>

        <tr>
          <td><%= image_tag icon_url, size: @dimensions %><%= game.location %></td>
          <td><%= game.start.strftime("%a, %B %d, %I:%M%P") %> </td>
          <td><%= game.stop.strftime("%a, %B %d, %I:%M%P") %></td>
          <td><%= game.sport %></td>
          <td><%= game.description %></td>


        <td><%= link_to 'Show', game , remote: true%></td>
        <td><%= link_to 'Edit', edit_game_path(game), remote: true %></td>

        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
