

<%= hidden_field_tag 'games_lat_and_lng', [{:lat => @game.latitude, :lng => @game.longitude, :description => @game.description}].to_json %>

<%= render 'map' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>


<p>
  <strong>Start:</strong>
  <%= @game.start.strftime("%a, %B %d, %I:%M%P") %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @game.stop.strftime("%a, %B %d, %I:%M%P") %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @game.sport %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>
<%= render 'comments/form' %>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
