<!DOCTYPE html>
<html lang="en">
<head>

  <%= csrf_meta_tags %>
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYsFrnvKIEmREiU0uHWk0SI-KnU7J1cbc&libraries=places&location=-33.8670522,151.1957362&radius=500&callback=initAutocomplete"> </script> -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYsFrnvKIEmREiU0uHWk0SI-KnU7J1cbc&libraries=places&callback=initMap"> </script>



<!--     <%= csrf_meta_tags %>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <!Latest compiled and minified CSS -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
  <!-- Latest compiled and minified JavaScript
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYsFrnvKIEmREiU0uHWk0SI-KnU7J1cbc&libraries=places&location=-33.8670522,151.1957362&radius=500&callback=initAutocomplete"> </script> -->
<!--   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYsFrnvKIEmREiU0uHWk0SI-KnU7J1cbc&libraries=places&callback=initMap"> </script> --> 

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Player</title>
  <style>
  /*#map {
    height: 50%;
    width: 50%;
  }*/
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0px;
    padding: 0;
  }
  </style>
</head>
<body>


    <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Player", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
         </li>
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "Help",   '#' %></li>
         <%- if current_user %>
          <li>
            <%= link_to "Logout", logout_path%>
          </li>
          <li></li>
          <% else %>
          <li>
            <%= link_to "Login", login_path %>
          </li>
          <li>
          <%= link_to "Register", signup_path %>
          <% end %>
          <li class="search"><%= form_tag(games_path, :method => "get", id: "search-form") do %>
           <%= search_field_tag :search, params[:search], placeholder: "Search Games" %>
           <%= submit_tag 'Search' %>
           <% end %>
        </ul>
      </nav>
    </div>
  </header>


  <%= yield %>


</body>
</html>
